 node_modules
 .next
 .husky
 .prettierignore
 .gitignore
 .package-lock.json
 .package.json
 README.md

# Ignore everything recursively
*

# But not the .ts files
!*.ts

# Check subdirectories too
!*/